@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

/* CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

html{
  font-family: Roboto;
}

a, a:hover, a:visited{
  color: inherit;
  text-decoration: none;
}

#header{
  position fixed;
  width: 100%;
  height: 64px;
  background-color: white;
  border-bottom: 2px solid #2203A0;
  z-index: 1000;
}

#header #logo{
  position: absolute;
  margin-left: 1.5%;
  float: left;
}

#navbar{
  position:absolute;
  top: 20px;
  left: 270px;
  width: 650px;
  height: 35px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 1.3em;
  border-bottom: 1px;
}

#navbar ul li{
  display: block;
  float: left;
  padding-left :40px;
  text-align: center;
}

#navbar a{
  padding: 5px 5px 5px 5px;
}

#navbar a:hover{
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
}

#navbar #icono{
  position: absolute;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 0.8em;
}


#top-right{
  position: relative;
  display: block;
  float: right;
  top: 7px;
  right: 10px;
  width: 320px;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
}

.redes{
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}

.fa-twitter{
  color: #55ACEE;
}

.fa-facebook{
  color: #43609C;
}

.fa-youtube{
  color: #CC181E;
}

#searchbox{
  position: absolute;
  float: right;
  right: 10px;
  top: 10px;

}

#searchbox input{
  float: left;
}

#buscador{
  width: 108px;
  height: 22px;
  padding:5px;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
}

#search{
  width: 32px;
  height: 32px;
  right:-32px;
  border:none;
  background-color: #FFF;
  background-image: url(../img/search_btn.png);
}

.fotos{
  float: left;
  width: 16.36%;
  height: 219px;
  border: 2px solid black;
  overflow: hidden;
}

#contenedor_fotos{
  width: 100%;
  height: 446px;
  overflow: hidden;
}

#uno{
  background-image: url(../img/uno.png);
}

#dos{
  background-image: url(../img/dos.png);
}

#tres{
  background-image: url(../img/tres.png);
}

#cuatro{
  background-image: url(../img/cuatro.png);
}

#cinco{
  background-image: url(../img/cinco.png);
}

#seis{
  background-image: url(../img/seis.png);
}

#siete{
  background-image: url(../img/siete.png);
}

#ocho{
  background-image: url(../img/ocho.png);
}

#nueve{
  background-image: url(../img/nueve.png);
}

#diez{
  background-image: url(../img/diez.png);
}

#once{
  background-image: url(../img/once.png);
}

#doce{
  background-image: url(../img/doce.png);
}

#overlay{
  position: absolute;
  width: 100%;
  height: 446px;
  top:66px;
  background-color: rgba(255, 255, 255, 0.62);
}

#presentacion{
    text-align: center;
    font-weight: 400;
}

#titulo{
  margin-top: 15px;
  font-size: 3.5em;
  color: #0E4D68;
}

#intro{
  margin-top: 35px;
  font-size: 1.2em;
}








#footer{
  width: 100%;
  height: 100px;
  border-top: 2px solid #2203A0;
}

#footer .patrocinador{
  margin-top: 10px;
  float: left;
  padding-left: 50px;
}

#footer .redes{
  margin-top: 10px;
  float: right;
  padding-right: 30px;
}

#footer #kapow{
  padding-left: 150px;
}

#footer #youtube{
  padding-right: 150px;
}

#footer div.redes i{
  color: rgba(0, 0, 0, 0.12)
}

#footer div.redes i.fa-twitter:hover{
  color: #55ACEE;
}

#footer div.redes i.fa-facebook:hover{
  color: #43609C;
}

#footer div.redes i.fa-youtube:hover{
  color: #CC181E;
}
