*{
  margin: 0;
  padding: 0;
}

a, a:hover, a:visited{
  color: none;
  font-style: none;
  text-decoration: none;
}

#header{
  position: fixed;
  width: 100%;
  height: 64px;
  border-bottom: 2px solid #2203A0;
  background-color: white;
  z-index: 1000;
}

#header > #logo{
  position: absolute;
  width:64px;
  height: 64px;
  left:10px;
}

#top-right{
  position:absolute;
  width: 320px;
  height: 50px;
  float: right;
  bottom: 7px;
  right: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.07);
}

#searchbox{
  position:relative;
  float: right;
  width: 150px;
  height: 32px;
  top: 10px;
  right: 10px;
  overflow: hidden;
}

#buscador{
  position:absolute;
  width: 140px;
  height: 22px;
  padding:5px;
  border: none;
  outline: none;
  border-radius: 5px;
  z-index: 1;
}

#search{
  position: absolute;
  float: right;
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  border:none;
  color: none;
  background-color: #FFF;
  background-image: url(../img/search_btn.png);
  z-index: 2;
}

#navbar{
  position:absolute;
  top: 20px;
  left: 270px;
  width: 650px;
  height: 35px;
  border: 1px solid black;
  border-radius: 2px;
}

.redes{
  display: inline-block;
  padding-top: 10px;
  padding-left: 5px;
}

.fa-twitter{
  color: #55ACEE;
}

.fa-facebook{
  color: #43609C;
}

.fa-youtube{
  color: #CC181E;
}

#content{
  position: relative;
  widows: 100%;
  height: 80%;
  top: 67px;
}

#footer{
  position: absolute;
  width: 100%;
  height: 110px;
  bottom: 0;
  border-top: 2px solid #2203A0;
}

#tv{
  position: absolute;
  top:10px;
  left: 120px;
}

.patrocinador{
  position: relative;
  display: inline-block;
  padding-left: 50px;

}

#redes_sociales{
  position: absolute;
  float: right;
  top: 10px;
  right: 120px;
}

.red{
  position:relative;
  display: inline-block;
  padding-right: 30px;
}

div#redes_sociales i{
  color: rgba(0, 0, 0, 0.12)
}

div#redes_sociales i.fa-twitter:hover{
  color: #55ACEE;
}

div#redes_sociales i.fa-facebook:hover{
  color: #43609C;
}

div#redes_sociales i.fa-youtube:hover{
  color: #CC181E;
}
